<html>

<head>
	<title> Auto Album Sorting </title>
	<link rel="stylesheet" href="mainStyle.css">
</head>

<body>
	<table id = "t01">
		<tr>
			<th id="t01"> <img class="card-img-top item-img" src="camera_icon.png" width="50"> </th>
			<th id="t02"> <a href="user_interface.ejs"> <font color="white">Home</font> </a> </th>
			<th id="t03"> <a href="table.html"> <font color="white">Upload New Photo</font> </a> </th>
			<th id="t04"> <a href="table.html"> <font color="white">Add New Person</font> </a> </th>
		</tr>
	</table>
	
	<br>
	
	<input type='file' id='getval' name="background-image" /><br/><br/>
	<div id='clock'></div>
	
</body>

</html>